@charset "UTF-08";
*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body,html{
    background-color:#D6E5EA;
    width: 100vw;
    height: 100vh;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 200px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    transition:  width 0.3,  height 0.3;
    transition-timing-function: ease;
   
}
#login img{
    display: block;
    background: #D6E5EA url(../imagens/pexels-aditya-bhatia-264152318-29605962.jpg) no-repeat;
    height: 200px;
    width: 200px;
   
}
#formulario{
    display: block;
    padding: 10px;
}
